/* StudentList2.css */

.container {
    margin-top: 100px;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .container .table-container {
    margin-top: 40px;
  }
  .container .studenttable {
    margin-top: 40px;
  }
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .pagination-rows-per-page {
    display: flex;
    align-items: center;
  }
  
  .pagination-select {
    margin-left: 10px;
  }
  
  .pagination-navigation {
    display: flex;
    align-items: center;
  }
  
  .pagination-button {
    margin-left: 10px;
  }
  
  .container .search-banner .predict-button {
    position: absolute;
    margin-top: auto;
    margin-right: 10px ;
    height: 55px;
    width: 100px;
    display: none;
    
    
  }
  
  

  /* Media Query for screens less than 600px */
@media screen and (max-width: 600px) {
  .container {
    margin-top: 50px;
    
  }

  .text-2xl {
    font-size: 1.2rem;
  }

  .mb-4 {
    margin-bottom: 0.5rem;
  }
 .container .studenttable .classgrade{
  display: none;
 }
 .container .studenttable .classgraderow{
  display: none;
 }
 .container .search-banner .predict-button {
  position: absolute;
  margin-top: auto;
  margin-right: 10px;
  height: 55px;
  width: 80px;
  
  
}
.container .studenttable .level {
  display :none;
 }
.container .studenttable .grade {
  display :none;
 }


  

  

  


}
