/* Navbar.css */

.bar {
    background-color: rgba(245, 245, 220, 0.915); /* Change the background color to beige */
}

.menuButtonWrapper {
    display: none;
    margin-left: auto; /* Initially hide the menu button */
}

.navButtons {
    display: flex;
    margin-left: auto; /* Align navButtons to the right */
}

@media (max-width: 600px) {
    .menuButtonWrapper {
        display: block; 
    }

    .navButtons {
        display: none; /* Hide the navigation buttons on smaller screens */
    }

    .logoContainer img {
        margin-right: 5px;
        width: 40px; /* Adjust the width of the icons for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer .logoImage {
  
    margin-right: 10px;
    width: 110px; /* Adjust the width of the icons */
    height: auto; /* Maintain aspect ratio */
}

/* Adjust the alignment of components on toolbar */
.Toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navButtons .loginbutton{

    background-color: whitesmoke;
    color:rgb(4, 51, 161);
    
}
.navButtons .loginbutton:hover{

    color: beige;
    background-color:rgb(4, 51, 161);
    margin: raduis 10%;
}