.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer .logoImage {
  
    margin-right: 10px;
    width: 110px; /* Adjust the width of the icons */
    height: auto; /* Maintain aspect ratio */
}
@media (max-width: 600px) {
    .logoContainer{
        display: flex;
    }
    .logoContainer .logoImage{
        display: flex;
    }
}